<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
</head>
<body>
  <h1>Admin Login</h1>
  <form action="/dashboard/login" method="POST">
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Password: <input type="password" name="password" required></label><br>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/dashboard/signup">Sign Up</a></p>
</body>
</html>
